@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Global styles */
body {
  background-color: whitesmoke
}

/* Layout */
footer {
  padding: 100px 10px;
  background-color: darkslateblue; 
}

#skills {
  width: 50%;
  margin: 100px auto;
  padding: 25px 5px;
  text-align: center;
  background-color: white;
  border: solid 2px white;
  border-radius: 25px;
}

#projects {
  width: 50%;
  margin: 100px auto;
  padding: 25px 5px;
  text-align: center;
  background-color: white;
  border: solid 2px white;
  border-radius: 25px;
}