@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Global styles */
body {
  background-color: whitesmoke;
  position: relative;
}

a {
  color: inherit;
}

/* Layout */
footer {
  padding: 100px 10px;
  background-color: darkslateblue; 
}

#header {
  height: calc(100vh - 56px);
  min-height: 150px;
}

.pt-5 {
  padding-top: 100px !important;
}

/* Icons */
#home {
  font-size: 20px;
}

#social-icon {
  font-size: 50px;
}